/* reset styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 0; list-style:square; }
q:before, q:after { content:''; }

/*end reset/*/

#try  img {
    
	height: 295px;
	width: 100%;
	
	
}

/*/start animation/*/

/*styles/*/
.blink  {


margin-top: -300px;   
   height: 100px;
   margin-bottom: 65px;
   width: 100%%; 
  background-color: #EDC423;  
   
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
.blink p {
	padding-top: 55px;
	text-align: center;
	 color: #e5e4e5;
	
	 
  font-size: 1em;
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #181818;
  font-family: "Times New Roman", Georgia, Serif;  
   letter-spacing: 2px;
   -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}
.blink p:hover {
	text-decoration: underline;
	cursor: pointer;
}
/*/animation/*/
-webkit-@keyframes blink {
  0% {background-color: #ABF213; color: #1D1E1C; text-shadow: 2px 2px 5px #ffffff;}
      50% {background-color: #EDC423; color: #e5e4e5; text-shadow: 2px 2px 5px #181818;}

}
  @keyframes blink {
   
  0% {background-color: #ABF213; color: #ffffff; text-shadow: 2px 2px 5px #181818;}
      50% {background-color: #cfd1cd;  color: #181818; text-shadow: 2px 2px 5px #2A16E0;}
}


/*/animation end/*/
body{
	background-color: #cdcdcd;
}

#content{
	padding-top: 140px;
  background-color: #cdcdcd;
  width:100%;
  float: left;
  
  
}



#content .pic {
	
	text-align: center;
    width: 85px;
	margin: 5px auto 5px auto;
}
#content .pic:hover {
  border-radius: 50%;
  border: 5px solid #efeff2;
  opacity: 0.9;
  background-color: #f5b57f;
  margin:0 auto;
}

/*navbar styles/*/
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	
  
}
#navbar li {
  padding: 5px 3px;
  
  
}
#navbar a {
  background-color: #f5b57f;
  font-family: 'Franklin Gothic Medium Regular';
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 7px;
  border-radius: 10px;
  border: 1px solid #efeff2;
  width: 98%;
  display: inline-block;
  text-align: center;
  padding: 18px 0 10px 0;
  margin: 0;
}


#navbar a:hover {
background: #f5dac3;
  text-decoration: none;
  color: #72706e;
  border: 1px solid #f5b57f;
  
}

/*footer styles/*/

.footer p {
  background-color: #f4b757;
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 5px;
  color: #ffffff;
  text-align: center;
  padding: 5px 0 10px 0;
  width: 100%;
  margin-bottom: -100px;

  
}
.slideMobile img {
	margin-top: 57px;
	width: 100%;	
}
/*icon styles/*/
.icons {

	text-align: center;
}
.icons a {
	margin: 3.70% 4.40%;
	display: inline-block;
	
	text-align: center;
	width: 45px;
	height: 45px;
	border-radius: 100%;
    background-color: #999999;
	border: 4px solid #333333;
	  -webkit-transition: background 0.2s;
          transition: background 0.2s;
	
}
.facebook {
	
	background-image: url("Images/icons.png"), none;
	background-position: 14 7px;
	background-repeat: no-repeat;
	
	 
	
}
.facebook:hover  {
	background-image: url("Images/icons.png"), none;
	background-position: 14 -45px;
	background-repeat: no-repeat;
	border: 4px solid #dfe3ee;
		background-color: #3b5998;
		
		
		
}
.github {
		
 
	background-image: url("Images/icons.png"), none;
	background-position: -44 9px;
	background-repeat: no-repeat;
}
.github:hover  {
	background-image: url("Images/icons.png"), none;
	background-position: -44 -40px;
	background-repeat: no-repeat;
	border: 4px solid #ffffff;
}
.google {
		
 
	background-image: url("Images/icons.png"), none;
	background-position: -103 7px;
	background-repeat: no-repeat;
}
.google:hover  {
	background-image: url("Images/icons.png"), none;
	background-position: -103 -45px;
	background-repeat: no-repeat;
	border: 4px solid #4285f4;
		background-color: #dc4e41;
}